@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #c0c0c0;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.todo {
  max-width: 50%;
  margin: auto;
  background-color: #ffc0cb;
  color: #413939;
}

.index {
  display: none;
}

.detail {
  margin-left: 5px;
  outline: none;
  display: inline;
}

.todo-title {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.item-head {
  display: flex;
}

.margins {
  margin-right: 10px;
  margin-left: 10px;
}

.fa-refresh {
  color: rgb(65, 57, 57);
}

#description {
  border: none;
  outline: none;
  background-color: #ffc0cb;
}

.item {
  color: red;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  color: #413939;
}

.enter-btn {
  /* margin-right: 10px; */
  position: relative;
  right: 20px;
}

.clear-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #00ffff;
  border: none;
  height: 100%;
}

.dots {
  margin-right: 5px;
}

#hide {
  display: none;
}

#show {
  display: block;
}


.bg-change {
  background-color: #dfd5d5;
}

@media only screen and (min-width: 768px) {
  .enter-btn {
    right: 0;
  }
}
