@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #c0c0c0;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.todo {
  max-width: 50%;
  margin: 0 auto;
  background-color: #fff;
  color: #413939;
  padding: 10px 0;
}

.index {
  display: none;
}

.border {
  border-bottom: 1px solid silver;
}

.todo-title {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.margins {
  margin-right: 10px;
  margin-left: 10px;
}

.fa-refresh {
  color: rgb(65, 57, 57);
}

#description {
  border: none;
  outline: none;
}

.item {
  color: red;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  color: #413939;
}

.clear-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.dots {
  margin-right: 5px;
}